.cardset-three {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.cardset-three__card {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    background-color: $bgPrimaryColor;
    box-shadow: $teamCardShadow;
    border-radius: 0px 0px 4px 4px;
}

.cardset-three__box {
    padding: 30px 32px;
    text-align: center;
}

.cardset-three__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-bottom: 10px;
}

.cardset-three__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $textSecondaryColor;
    margin-bottom: 16px;
}
