.header {
    border-bottom: 1px solid #ececec;
}

.header__container,
.links-list,
.contacts-list,
.contacts-list__link {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-right: auto;
}

.links-list__item:not(:last-child) {
    margin-right: 50px;
}

.links-list__link,
.contacts-list__link {
    padding: 32px 0;
}

.links-list__link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $textPrimaryColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.active-link {
    color: $accentColor;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;
        bottom: -1px;
    }
}

.contacts-list__item:not(:last-child) {
    margin-right: 50px;
}

.contacts-list__link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $textSecondaryColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
}
